*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    display: grid;
    grid-template-columns: repeat(4,25%);
    grid-template-rows: repeat(6,16.6%);
    /* gap: .1rem; */
}


header{
    background-color: blue;
    grid-column: 1/5;
    height: 50px;
}
aside{
    background-color: green;
    grid-column: 1/3;
    grid-row: 2/7;
    height: 200px;
}
main{
    background-color: red;
    grid-column: 3/5;
    height: 200px;
}
footer{
    background-color: purple;
    grid-row: 6/7;
    grid-column: 1/5;
    height: 50px;
}